.container1 {
  z-index: 99;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  color: #fafafa;
}
.dud {
  color: #757575;
}