html, body{
  letter-spacing: 6px;
  margin: 0;
  padding: 0;
}
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		color: #fff;
		margin:0;
		padding:0;
	}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles --------------------------------------- */
	#section0{
		background-color: black;
	}
	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url(../imgs/2.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(../imgs/1.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}
	/* ---------------------------------------Defining each sectino background and styles */

	/*Adding background for the slides--------------------------------------- */
/* 	#slide1{
		background-image: url(../imgs/4.jpg);
		padding: 6% 0 0 0;
	} */
/* 	#slide2{
		background-image: url(../imgs/5.jpg);
		padding: 6% 0 0 0;
	} */
	/*--------------------------------------- Adding background for the slides*/


	/* Bottom menu--------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
    #social{
        height: 33%;
        width: 100%;
        z-index: 99;
/*         color:#757575; */
        align-items: center;
        text-align: center; 
        font-size: 22px;
    }
    #typedtext{
      display: flex;
        height: 33%;
        padding-left: 6%;
        padding-right: 6%;
        width: 100%;
        z-index: 99;
        color:white;
        font-size: 22px;
        justify-content: center;
        align-items: center;
    }
    #intro{
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 99;
/*         color: #757575; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*social hover-------------------------------------*/
    .blink-text-menu {
      height: auto;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content:center ;
    }
    .blink-text-menu li{
      display: flex;
      flex-direction: row;
    }
    .blink-text-menu li a {
      position: relative;
      display: flex;
      padding: 6px;
      color: white;
      text-decoration: none;
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: auto;
      padding-right: auto;
    }
    .blink-text-menu li a span {
      position: relative;
      overflow: hidden;
      transition: 0.6s;
    }
    .blink-text-menu li a span .out {
      display: inline-flex;
    }
    .blink-text-menu li a span .in {
      position: absolute;
      left: 0;
      opacity: 0;
      transform: translateX(100%);
    }
    .blink-text-menu li a:hover span .out {
      opacity: 0;
      transform: translateX(-100%);
    }
    .blink-text-menu li a:hover span .in {
      opacity: 1;
      transform: translateX(0);
    }
   /*-------------------------------------social hover end*/

    /*Vertical Line*/
    .vl {
        z-index: 99;
        padding-left: 1%;
        padding-right: 1%;
        display: flex;
        justify-content: center;
        color: white;
      }
/*title-------------------------------------*/
      .container1 {
        height: 33%;
        z-index: 99;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        align-items: center;
      }
      .text {
        font-family: 'Roboto Mono', monospace;
        font-size: 100px;
        color: #757575;
      }
      .dud {
        color: #757575;
      }
/*-------------------------------------title*/